@import 'tailwindcss';

:root {
  --background: #f8fafc;
  --foreground: #1a1d23;
  /* COLORES VENTIQ */
  --brand-orange: #ff9800;
  --brand-black: #1a1d23;
  --brand-slate: #64748b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* REGISTRAMOS LOS COLORES PARA USARLOS COMO CLASES */
  --color-ventiq-orange: var(--brand-orange);
  --color-ventiq-black: var(--brand-black);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-black: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
